In [1]:
import numpy as np
import pandas as pd
import os
from pycombat import Combat
import csv

os.system('pip install pycombat')

ModuleNotFoundError: No module named 'pycombat'

# Test Scores

### ADAS scores
for both ADNI1 and ADNIGO,2,3

In [69]:
## Processing ADNI scores
# total scores from ADNI GO,2,3
ADAS_scores = pd.read_csv("/Volumes/Extreme SSD/DL_DATASET/TestScores_CSF/ADAS_ADNIGO23_10Dec2024.csv")
print(ADAS_scores.columns)
ADAS_cols = ['PHASE', 'PTID', 'RID', 'VISCODE', 'VISCODE2', 'VISDATE', 
                    'TOTAL13', 'ID', 'SITEID', 'USERDATE', 'USERDATE2', 'update_stamp']
ADAS_scores = ADAS_scores[ADAS_cols]
# standardize 'TOTAL13'
ADAS_scores['TOTAL13'] = ADAS_scores['TOTAL13'].replace(' ', np.nan)
ADAS_scores['TOTAL13'] = ADAS_scores['TOTAL13'].astype(float)
ADAS_scores['TOTAL13'] = (ADAS_scores['TOTAL13'] - ADAS_scores['TOTAL13'].mean()) / ADAS_scores['TOTAL13'].std()

# total scores from ADNI1
ADAS_ADNI1_scores = pd.read_csv("/Volumes/Extreme SSD/DL_DATASET/TestScores_CSF/ADASSCORES_10Dec2024.csv")
print(ADAS_ADNI1_scores.columns)
ADAS_ADNI1_cols = ['PHASE', 'RID', 'PTID', 'VISCODE', 'VISCODE2', 'EXAMDATE', 
       'TOTAL11', 'TOTALMOD', 'ID', 'SITEID', 'USERDATE', 'USERDATE2','update_stamp']
ADAS_ADNI1_scores = ADAS_ADNI1_scores[ADAS_ADNI1_cols]

# standardize 'TOTAL11' and 'TOTALMOD'
ADAS_ADNI1_scores['TOTAL11'] = ADAS_ADNI1_scores['TOTAL11'].replace(' ', np.nan)
ADAS_ADNI1_scores['TOTAL11'] = ADAS_ADNI1_scores['TOTAL11'].astype(float)
ADAS_ADNI1_scores['TOTAL11'] = (ADAS_ADNI1_scores['TOTAL11'] - ADAS_ADNI1_scores['TOTAL11'].mean()) / ADAS_ADNI1_scores['TOTAL11'].std()
ADAS_ADNI1_scores['TOTALMOD'] = ADAS_ADNI1_scores['TOTALMOD'].replace(' ', np.nan)
ADAS_ADNI1_scores['TOTALMOD'] = ADAS_ADNI1_scores['TOTALMOD'].astype(float)
ADAS_ADNI1_scores['TOTALMOD'] = (ADAS_ADNI1_scores['TOTALMOD'] - ADAS_ADNI1_scores['TOTALMOD'].mean()) / ADAS_ADNI1_scores['TOTALMOD'].std()

Index(['PHASE', 'PTID', 'RID', 'VISCODE', 'VISCODE2', 'VISDATE', 'WORDLIST',
       'Q1UNABLE', 'Q1TR1', 'Q1TR2',
       ...
       'Q13TASKC', 'Q13SCORE', 'TOTAL13', 'DATE', 'SOURCE', 'ID', 'SITEID',
       'USERDATE', 'USERDATE2', 'update_stamp'],
      dtype='object', length=124)
Index(['PHASE', 'RID', 'PTID', 'VISCODE', 'VISCODE2', 'EXAMDATE', 'Q1', 'Q2',
       'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q14',
       'TOTAL11', 'TOTALMOD', 'ID', 'SITEID', 'USERDATE', 'USERDATE2',
       'update_stamp'],
      dtype='object')

In [70]:
# concatenate the two dataframes
for cols in ADAS_ADNI1_cols:
       if cols not in ADAS_scores.columns:
              ADAS_scores[cols] = np.nan

for cols in ADAS_cols:
       if cols not in ADAS_ADNI1_scores.columns:
              ADAS_ADNI1_scores[cols] = np.nan

ADAS_scores = pd.concat([ADAS_scores, ADAS_ADNI1_scores], ignore_index=True)
ADAS_scores.to_csv("./text_data/ADAS_scores.csv", index=False)

### MMSE Scores

In [71]:
## Processing MMSE scores
MMSE_scores = pd.read_csv("/Volumes/Extreme SSD/DL_DATASET/TestScores_CSF/MMSE_10Dec2024.csv")
print(MMSE_scores.columns)
MMSE_cols = ['PTID', 'RID', 'VISDATE', 'MMDATE', 'MMYEAR', 'MMMONTH', 'MMDAY',
       'MMSEASON', 'MMHOSPIT', 'MMFLOOR', 'MMCITY', 'MMAREA', 'MMSTATE', 'WORDLIST', 'WORD1', 'WORD2', 'WORD3', 'MMTRIALS', 'MMD', 
       'MML', 'MMR','MMO', 'MMW', 'MMLTR1', 'MMLTR2', 'MMLTR3', 'MMLTR4', 'MMLTR5', 'MMLTR6', 'MMLTR7', 'WORLDSCORE', 'WORD1DL', 
       'WORD2DL', 'WORD3DL','MMWATCH', 'MMPENCIL', 'MMREPEAT', 'MMHAND', 'MMFOLD', 'MMONFLR','MMREAD', 'MMWRITE', 'MMDRAW', 
       'MMSCORE', 'ID', 'SITEID', 'USERDATE', 'HAS_QC_ERROR']

# standardize 'MMSCORE'
MMSE_scores = MMSE_scores[MMSE_cols]
MMSE_scores['MMSCORE'] = MMSE_scores['MMSCORE'].replace(' ', np.nan)
MMSE_scores['MMSCORE'] = MMSE_scores['MMSCORE'].astype(float)
MMSE_scores['MMSCORE'] = (MMSE_scores['MMSCORE'] - MMSE_scores['MMSCORE'].mean()) / MMSE_scores['MMSCORE'].std()
MMSE_scores.to_csv("./text_data/MMSE_scores.csv", index=False)

Index(['PHASE', 'PTID', 'RID', 'VISCODE', 'VISCODE2', 'VISDATE', 'DONE',
       'NDREASON', 'SOURCE', 'MMDATE', 'MMYEAR', 'MMMONTH', 'MMDAY',
       'MMSEASON', 'MMHOSPIT', 'MMFLOOR', 'MMCITY', 'MMAREA', 'MMSTATE',
       'WORDLIST', 'WORD1', 'WORD2', 'WORD3', 'MMTRIALS', 'MMD', 'MML', 'MMR',
       'MMO', 'MMW', 'MMLTR1', 'MMLTR2', 'MMLTR3', 'MMLTR4', 'MMLTR5',
       'MMLTR6', 'MMLTR7', 'WORLDSCORE', 'WORD1DL', 'WORD2DL', 'WORD3DL',
       'MMWATCH', 'MMPENCIL', 'MMREPEAT', 'MMHAND', 'MMFOLD', 'MMONFLR',
       'MMREAD', 'MMWRITE', 'MMDRAW', 'MMSCORE', 'ID', 'SITEID', 'USERDATE',
       'USERDATE2', 'DD_CRF_VERSION_LABEL', 'LANGUAGE_CODE', 'HAS_QC_ERROR',
       'update_stamp'],
      dtype='object')

# Biomarkers
from UPENN CSF Biomarker Master, CSF Biomarker Elecsys, Apo-E Results
- Use the biomarker ratios (p-tau/Aβ1-42, t-tau/Aβ1-42) as key feature (for CSF)

### CSF Biomarkers

In [72]:
master = pd.read_csv('/Volumes/Extreme SSD/DL_DATASET/TestScores_CSF/UPENNBIOMK_MASTER_09Dec2024.csv', quoting=csv.QUOTE_NONE, encoding='utf-8')
elecsys = pd.read_csv('/Volumes/Extreme SSD/DL_DATASET/TestScores_CSF/UPENNBIOMKADNIDIAN2017_09Dec2024.csv', quoting=csv.QUOTE_NONE, encoding='utf-8')

# remove double quotes from column names
master.columns = master.columns.str.replace('"', '')
elecsys.columns = elecsys.columns.str.replace('"', '')

# remove double quotes from values
master = master.replace('"', '', regex=True)
elecsys = elecsys.replace('"', '', regex=True)

# to numeric ['ABETA', 'TAU', 'PTAU']
master['ABETA'] = pd.to_numeric(master['ABETA'], errors='coerce')
master['TAU'] = pd.to_numeric(master['TAU'], errors='coerce')
master['PTAU'] = pd.to_numeric(master['PTAU'], errors='coerce')

print(master.head())
print(elecsys.head())

  RID VISCODE        BATCH     KIT    STDS     DRAWDTE     RUNDATE  ABETA  \
0   3      bl   UPENNBIOMK  170470  167082  2005-09-12  2007-10-26  131.0
1   3      bl  UPENNBIOMK2  190841  181286  2005-09-12  2008-11-12  132.0
2   3      bl       MEDIAN     ALL     ALL  2005-09-12  2016-03-09  131.0
3   3     m12  UPENNBIOMK2  190841  181286  2006-09-13  2008-11-12  137.0
4   3     m12       MEDIAN     ALL     ALL  2006-09-13  2016-03-09  137.0

    TAU  PTAU ABETA_RAW TAU_RAW PTAU_RAW           update_stamp
0  68.0  21.0       131      68       21  2016-07-06 16:15:51.0
1  54.9  19.8       149    55.5     12.8  2016-07-06 16:15:51.0
2  61.4  20.4                             2016-07-06 16:15:51.0
3  76.5  21.1       155    77.5     13.7  2016-07-06 16:15:51.0
4  76.5  21.1                             2016-07-06 16:15:51.0
  RID VISCODE VISCODE2    EXAMDATE STUDY     RUNDATE ABETA   AB40  TAU PTAU  \
0  42     v06      m60  2011-04-14  ADNI  2017-10-30  1493  15170  242   19
1  42     v21      m84  2013-01-24  ADNI  2017-10-30  1183  12820  227   18
2  61     v31     m108  2015-02-12  ADNI  2017-10-20   823  19530  328   30
3  61     m60      m60  2011-02-08  ADNI  2017-10-20   832  19780  296   26
4  61     v11      m84  2013-02-07  ADNI  2017-10-20   926  21940  339   31

    A4240 NOTE           update_stamp
0  0.0984       2018-04-10 10:02:07.0
1  0.0923       2018-04-10 10:02:07.0
2  0.0421       2018-04-10 10:02:07.0
3   0.042       2018-04-10 10:02:07.0
4  0.0422       2018-04-10 10:02:07.0

In [73]:
# Align on participant ID and visit date
combined = pd.merge(master, elecsys, on=['RID', 'RUNDATE'], how='outer', suffixes=('_master', '_elecsys'))

In [74]:
# Handle overlapping biomarkers and non-numeric values
for biomarker in ['ABETA', 'TAU', 'PTAU']:
    combined[biomarker] = combined[f"{biomarker}_elecsys"].combine_first(combined[f"{biomarker}_master"])
    print(f"Non-numeric values in {biomarker}:")
    print(combined[~combined[biomarker].apply(lambda x: isinstance(x, (int, float)) or pd.isna(x))][biomarker].unique())
    combined[biomarker] = combined[biomarker].replace(r'[^\d\.\-]', '', regex=True)
    combined[biomarker] = pd.to_numeric(combined[biomarker], errors='coerce')

# Fill missing values
combined[['ABETA', 'TAU', 'PTAU']] = combined[['ABETA', 'TAU', 'PTAU']].fillna(combined[['ABETA', 'TAU', 'PTAU']].mean())

combined['Platform'] = np.where(combined.filter(like='_master').notna().any(axis=1), 'Master', 'Elecsys')
combined['Platform'] = combined['Platform'].astype(str)

combat = Combat()
biomarkers = combined[['ABETA', 'TAU', 'PTAU']].values
batch_info = combined['Platform'].values

# Harmonize biomarkers
harmonized_data = combat.fit_transform(biomarkers, batch_info)
combined[['ABETA', 'TAU', 'PTAU']] = harmonized_data

# getting derived ratios
combined['TAU/ABETA'] = combined['TAU'] / combined['ABETA']
combined['PTAU/ABETA'] = combined['PTAU'] / combined['ABETA']
combined['PTAU/TAU'] = combined['PTAU'] / combined['TAU']

Non-numeric values in ABETA:
['541' '565' '719' '863' '2086' '2187' '2246' '682' '699' '587' '655'
 '515' '496' '576' '480' '549' '816' '703' '412' '362' '409' '514' '458'
 '570' '571' '634' '780' '668' '439' '449' '1271' '1187' '393' '828'
 '1114' '820' '605' '664' '534' '440' '651' '470' '690' '683' '386' '379'
 '337' '365' '344' '332' '469' '625' '450' '771' '635' '975' '830' '913'
 '834' '622' '633' '540' '1032' '1246' '500' '475' '414' '1617' '1482'
 '2491' '2362' '2654' '492' '661' '462' '490' '730' '606' '723' '1149'
 '1304' '995' '1068' '1112' '1036' '527' '528' '2045' '1224' '882' '897'
 '803' '345' '323' '511' '620' '2209' '1735' '718' '619' '698' '1018'
 '948' '910' '799' '557' '716' '752' '793' '902' '853' '784' '482' '508'
 '593' '483' '1771' '1991' '2111' '467' '380' '826' '689' '775' '774'
 '772' '899' '544' '244' '241' '428' '542' '507' '385' '454' '302' '809'
 '627' '581' '598' '2393' '2368' '1761' '2004' '2982' '927' '815' '750'
 '586' '1863' '1643' '1244' '1973' '1925' '1610' '841' '2240' '2037'
 '2164' '1947' '550' '520' '539' '1325' '813' '657' '548' '1161' '940'
 '491' '459' '526' '731' '567' '1493' '1183' '460' '704' '686' '631'
 '2053' '2307' '1061' '1015' '717' '623' '728' '889' '660' '621' '435'
 '404' '1168' '1138' '1286' '561' '638' '722' '720' '677' '1629' '1854'
 '553' '1828' '1825' '1836' '969' '1006' '1236' '1051' '648' '351' '238'
 '1385' '1316' '670' '630' '590' '701' '653' '666' '613' '931' '400' '696'
 '934' '939' '721' '766' '315' '319' '464' '786' '734' '743' '835' '929'
 '517' '966' '943' '407' '663' '611' '1372' '1400' '267' '1299' '1227'
 '1247' '574' '260' '300' '685' '1789' '1421' '938' '836' '486' '1541'
 '1110' '645' '640' '753' '650' '688' '427' '740' '628' '554' '436' '438'
 '391' '2132' '1806' '987' '756' '789' '878' '770' '710' '680' '864'
 '1654' '1345' '712' '742' '624' '602' '971' '687' '978' '824' '713'
 '1156' '768' '545' '493' '1241' '1165' '2299' '1745' '396' '432' '795'
 '610' '487' '531' '626' '452' '494' '575' '658' '662' '1071' '1425' '957'
 '1188' '1146' '875' '1000' '1115' '616' '579' '656' '700' '667' '981'
 '591' '547' '504' '823' '832' '926' '346' '322' '552' '2097' '2364' '596'
 '2317' '1943' '1871' '415' '331' '637' '908' '951' '522' '465' '519'
 '546']
Non-numeric values in TAU:
['290' '295' '193' '270' '257' '264' '288' '405' '318' '285' '311' '304'
 '411' '506' '481' '330' '302' '267' '282' '266' '483' '599' '617' '713'
 '780' '163' '160' '460' '482' '256' '261' '306' '308' '309' '343' '176'
 '244' '245' '246' '578' '540' '234' '249' '280' '374' '412' '401' '370'
 '342' '360' '380' '544' '537' '127' '366' '428' '415' '174' '358' '461'
 '386' '130' '135' '324' '321' '345' '339' '353' '457' '619' '496' '561'
 '602' '811' '767' '173' '188' '346' '322' '326' '341' '312' '320' '254'
 '224' '307' '276' '263' '291' '287' '376' '385' '252' '389' '396' '636'
 '442' '637' '709' '419' '454' '491' '222' '250' '166' '274' '279' '260'
 '248' '243' '456' '384' '377' '392' '426' '774' '242' '314' '331' '430'
 '329' '466' '490' '255' '278' '427' '116' '122' '556' '455' '184' '170'
 '167' '240' '236' '332' '258' '292' '289' '223' '269' '233' '433' '447'
 '152' '356' '379' '316' '293' '301' '352' '465' '495' '232' '203' '228'
 '218' '227' '230' '297' '315' '296' '305' '381' '436' '410' '378' '364'
 '420' '413' '418' '445' '196' '194' '210' '178' '171' '211' '425' '432'
 '294' '333' '388' '431' '157' '159' '325' '417' '226' '515' '608' '813'
 '946' '564' '598' '630' '477' '487' '714' '772' '444' '440' '347' '338'
 '554' '610' '141' '402' '576' '462' '414' '403' '151' '204' '669' '198'
 '168' '624' '153' '200' '214' '235' '590' '632' '303' '221' '387' '650'
 '798' '778' '880' '199' '215' '591' '584' '566' '208' '689' '604' '262'
 '118' '110' '751' '738' '557' '510' '498' '552' '397' '407' '259' '300'
 '449' '209' '247' '310' '337' '327' '580' '134' '156' '175' '161' '162'
 '492' '532' '470' '550' '146' '328' '819' '651' '268' '241' '143']
Non-numeric values in PTAU:
['26' '21' '27' '22' '23' '37' '32' '30' '33' '47' '60' '55' '28' '24'
 '29' '63' '65' '75' '80' '15' '14' '43' '17' '19' '18' '67' '41' '46'
 '44' '36' '61' '62' '10' '39' '42' '50' '11' '25' '31' '52' '68' '59'
 '69' '89' '78' '16' '34' '35' '38' '74' '45' '76' '12' '20' '51' '48' '8'
 '9' '13' '40' '49' '97' '99' '118' '58' '83' '71' '56' '70' '66' '73'
 '92' '79' '81' '54' '' '93' '86' '64' '57' '53' '105']

In [78]:
CSF_biomarkers = combined[['RID', 'RUNDATE', 'ABETA', 'TAU', 'PTAU', 'TAU/ABETA', 'PTAU/ABETA', 'PTAU/TAU']]
CSF_biomarkers.to_csv("./text_data/CSF_biomarkers.csv", index=False)

### Apo-E Results
Genetic testing data that determine the individual's genotype at the APOE (Apolipoprotein E) gene, strongly associated with Alzheimer's disease risk and progression.
(categorical data)

In [2]:
APOE = pd.read_csv("F:\DL_DATASET\TestScores_CSF\APOERES_09Dec2024.csv")

In [4]:
APOE_cols = ['PTID', 'RID', 'VISCODE', 'GENOTYPE', 'APUSABLE', 'ID', 'APTESTDT']
APOE = APOE[APOE_cols]
APOE.to_csv("./text_data/APOE.csv", index=False)